* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", sans-serif;
}

#wrapper {
  width: 100%;
  height: 100vh;
  margin: auto;
}
#wrapper a {
  text-decoration: none;
  color: inherit;
}
#wrapper li {
  list-style: none;
}

p {
  color: #A1A7AA;
}

header {
  width: 100%;
}
header #header_info {
  height: 40px;
  padding: 0% 8%;
  background-color: #353a3e;
  color: #A1A7AA;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #header_info:hover a {
  color: white;
}
header #header_info i {
  margin-right: 10px;
}
header #header_nav {
  width: 100%;
  padding: 0% 8%;
  height: 100px;
  position: absolute;
  z-index: 2;
  background-color: rgba(53, 54, 55, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #header_nav button {
  color: white;
  padding: 12px 20px;
  background-color: #7ABC64;
  border-radius: 20px;
  cursor: pointer;
  border: 0px;
  transition: 0.3s;
}
header #header_nav button:hover {
  background-color: #69AA53;
}
header #header_nav li {
  display: inline-block;
  margin-right: 45px;
  color: white;
  font-weight: bolder;
  font-size: 14px;
}
header #header_nav li .active {
  color: #7ABC64;
  border-bottom: 3px solid #69AA53;
}
header #header_nav li a {
  padding-bottom: 10px;
  transition: 0.2s;
}
header #header_nav li a:hover {
  color: #7ABC64;
  border-bottom: 3px solid #69AA53;
}
header #header_nav li #smaller {
  margin-left: 5px;
  padding: 3px 5px;
  border-radius: 4px;
  font-size: 0.7em;
  vertical-align: middle;
}

#jumbotron {
  height: 600px;
  background-image: url("../img/homepage-hero-background.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 0% 8%;
  padding-top: 300px;
  color: white;
  font-size: 28px;
}
#jumbotron #popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 90px;
  left: 95%;
  top: 135px;
  z-index: 2;
}
#jumbotron #popup .square {
  width: 100%;
  height: 45%;
  background: white;
  border-radius: 3px;
  color: #32475B;
  font-size: 0.3em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: all 0.1s;
}
#jumbotron #popup .square:hover {
  cursor: pointer;
  border: 2px solid #353A3D;
  border-radius: 3px;
}
#jumbotron #popup .square img {
  height: 20px;
}
#jumbotron #popup .square span {
  color: #69AA53;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-left: 4px;
}
#jumbotron #popup .square span small {
  position: absolute;
  font-size: 12px;
  right: 85%;
}
#jumbotron h1 {
  margin-bottom: 20px;
}

#first_lesson {
  width: 100%;
  height: 600px;
  font-size: 22px;
  padding: 0% 8%;
  position: relative;
  color: #A1A7AA;
}
#first_lesson #general_info {
  width: 45%;
}
#first_lesson #general_info h2 {
  margin-bottom: 40px;
  padding-top: 80px;
  color: black;
}
#first_lesson #general_info p {
  margin-bottom: 20px;
}
#first_lesson #registration_panel {
  width: 40%;
  height: 95%;
  padding: 30px;
  position: absolute;
  background-color: white;
  right: 10%;
  top: -30px;
  box-shadow: 3px 14px 20px 2px rgba(110, 100, 100, 0.26);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
#first_lesson #registration_panel button {
  color: white;
  padding: 12px 20px;
  background-color: #7ABC64;
  border-radius: 20px;
  cursor: pointer;
  border: 0px;
  transition: 0.3s;
}
#first_lesson #registration_panel button:hover {
  background-color: #69AA53;
}
#first_lesson #registration_panel h3 {
  color: #69AA53;
  font-weight: bolder;
}
#first_lesson #registration_panel #relative {
  position: relative;
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 5px;
}
#first_lesson #registration_panel #relative input {
  border: none;
}
#first_lesson #registration_panel img {
  cursor: pointer;
}
#first_lesson #registration_panel input {
  width: 100%;
  padding: 12px 8px;
}

#courses {
  width: 100%;
  height: 700px;
  background-image: url("../img/promise-background.jpg");
  background-position: left;
  background-size: cover;
  border-radius: 90px/30px;
}
#courses #car_image {
  height: 240px;
  color: white;
  font-size: 22px;
  padding: 0% 8%;
  background-image: url("../img/horizontal-cta-background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#courses #car_image h2 {
  margin-bottom: 20px;
}
#courses #car_image i {
  margin-right: 30px;
}
#courses #courses_wrapper {
  content: "";
  display: table;
  clear: both;
  width: 100%;
  padding: 0% 8%;
  position: relative;
}
#courses #courses_wrapper #courses_info {
  width: 400px;
  height: 400px;
  padding: 20px;
  box-shadow: 3px 14px 20px 2px rgba(110, 100, 100, 0.26);
  border-radius: 8px;
  background-color: white;
  position: absolute;
  top: -30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  line-height: 26px;
  text-align: center;
}
#courses #courses_wrapper #courses_info button {
  color: white;
  padding: 12px 20px;
  background-color: #7ABC64;
  border-radius: 20px;
  cursor: pointer;
  border: 0px;
  transition: 0.3s;
}
#courses #courses_wrapper #courses_info button:hover {
  background-color: #69AA53;
}
#courses #courses_wrapper #courses_info h2 {
  font-size: 28px;
}
#courses #courses_wrapper #courses_info img {
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}
#courses #courses_wrapper #learn_box_container {
  margin: 70px 0px;
  display: flex;
  justify-content: space-between;
  float: right;
  height: 290px;
  width: 60%;
}
#courses #courses_wrapper #learn_box_container .box {
  width: calc(100% / 3);
  color: #7799AD;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#courses #courses_wrapper #learn_box_container .box img {
  width: 90%;
}
#courses #courses_wrapper #learn_box_container .box img:hover {
  opacity: 0.9;
  cursor: pointer;
}
#courses #courses_wrapper #learn_box_container .box button {
  background-color: #E7EBEE;
  padding: 10px 18px;
  color: #7799AD;
  border-radius: 20px;
  border: 2px solid #7799AD;
  cursor: pointer;
  transition: 0.3s;
}
#courses #courses_wrapper #learn_box_container .box button:hover {
  color: #7ABC64;
  border: 2px solid #7ABC64;
}
#courses #rate_flex_container {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-between;
}
#courses #rate_flex_container .item {
  width: calc(100% / 3 - 10px);
  height: 100%;
  color: #929AA3;
  padding-bottom: 30px;
  box-shadow: 3px 14px 20px 2px rgba(110, 100, 100, 0.26);
  background-color: white;
  text-align: center;
  border-radius: 8px;
  border-top: 6px solid #69AA53;
}
#courses #rate_flex_container .item .circle {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 60px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 10px solid #F6F6F6;
  font-size: 30px;
}
#courses #rate_flex_container .item .circle #layover_dot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: -10px;
  background-color: #7ABC64;
}
#courses #rate_flex_container .item .circle .layover {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 10px solid #7ABC64;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#courses #rate_flex_container .item .circle #layover_notch {
  border-left-color: transparent;
  transform: rotate(70deg);
  border-left: none;
}

#instructors {
  padding: 0% 8%;
  margin-top: 450px;
  width: 100%;
  height: 280px;
  font-size: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#instructors button {
  color: white;
  padding: 12px 20px;
  background-color: #7ABC64;
  border-radius: 20px;
  cursor: pointer;
  border: 0px;
  transition: 0.3s;
}
#instructors button:hover {
  background-color: #69AA53;
}
#instructors #left {
  width: 65%;
}
#instructors #left p {
  margin-top: 40px;
  font-size: 22px;
  line-height: 34px;
}
#instructors button {
  width: 28%;
  height: 40px;
  margin-top: 60px;
}

#item_container_wrapper {
  position: relative;
  width: 100%;
  height: 440px;
}
#item_container_wrapper #item_container {
  position: absolute;
  top: 60px;
  padding: 0% 8%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
#item_container_wrapper #item_container .item {
  width: calc(100% / 3 - 10px);
  height: 97%;
  padding: 35px;
  box-shadow: 3px 14px 20px 2px rgba(110, 100, 100, 0.26);
  background-color: white;
  border-radius: 8px;
  border-top: 6px solid #69AA53;
  text-align: center;
  line-height: 30px;
}
#item_container_wrapper #item_container .item img {
  width: 90%;
  margin-bottom: 40px;
  transition: 0.3s;
}
#item_container_wrapper #item_container .item img:hover {
  transform: scale(1.1);
  box-shadow: 3px 14px 20px 2px rgba(110, 100, 100, 0.26);
}
#item_container_wrapper #item_container .item h3 {
  color: black;
  font-size: 22px;
}
#item_container_wrapper #item_container .item i {
  color: #A1A7AA;
  margin-right: 5px;
}
#item_container_wrapper #item_container .item i:hover {
  color: #bcc0c2;
}
#item_container_wrapper #item_container #bigger {
  height: 100%;
  width: 34%;
}

#testimonial {
  width: 100%;
  height: 850px;
  background-image: url("../img/testimonial-background.jpg");
  background-size: cover;
  background-position: center;
}
#testimonial #carousel {
  font-size: 22px;
  padding: 140px 0px 70px 0px;
  text-align: center;
  width: 70%;
  height: 100%;
  margin: auto;
  color: #A1A7AA;
}
#testimonial #carousel h2 {
  font-size: 36px;
  color: black;
  margin-bottom: 20px;
}
#testimonial #carousel h4 {
  font-weight: normal;
}
#testimonial #carousel p {
  font-style: oblique;
  margin-bottom: 28px;
}
#testimonial #carousel #avatar_circle {
  margin: 50px auto;
}
#testimonial #carousel #avatar_circle img {
  width: 170px;
  border-radius: 50%;
}
#testimonial #carousel .dots {
  margin-top: 30px;
  cursor: pointer;
  border-radius: 20px;
}
#testimonial #carousel .dots i {
  font-size: 14px;
  margin-right: 8px;
}

#latest_news_wrapper {
  position: relative;
  width: 100%;
  padding: 0% 8%;
  height: 860px;
  background-image: url("../img/latestnews-background.jpg");
  background-size: cover;
  background-position: center;
}
#latest_news_wrapper button {
  color: white;
  padding: 12px 20px;
  background-color: #7ABC64;
  border-radius: 20px;
  cursor: pointer;
  border: 0px;
  transition: 0.3s;
}
#latest_news_wrapper button:hover {
  background-color: #69AA53;
}
#latest_news_wrapper #latest_news {
  position: absolute;
  top: -5%;
  border-top: 6px solid #7799AD;
  border-radius: 8px 8px 0px 0px;
  height: 750px;
  width: 84%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#latest_news_wrapper #latest_news h2 {
  padding-top: 60px;
  font-size: 38px;
}
#latest_news_wrapper #latest_news #bottom {
  width: 100%;
  position: absolute;
  top: 100%;
}
#latest_news_wrapper #latest_news #car_image_wrapper {
  padding: 0px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 500px;
}
#latest_news_wrapper #latest_news #car_image_wrapper .car_image_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #A1A7AA;
}
#latest_news_wrapper #latest_news #car_image_wrapper .car_image_box img {
  width: 90%;
  transition: 0.6s;
  cursor: pointer;
}
#latest_news_wrapper #latest_news #car_image_wrapper .car_image_box img:hover {
  transform: scale(1.1);
  box-shadow: 3px 14px 20px 2px rgba(110, 100, 100, 0.26);
  border-radius: 5px;
  opacity: 0.9;
}
#latest_news_wrapper #latest_news #car_image_wrapper .car_image_box h3 {
  color: #7ABC64;
  padding: 20px 0px 10px 0px;
}
#latest_news_wrapper #latest_news #car_image_wrapper .car_image_box p {
  margin-top: 25px;
}

#newsLetter {
  width: 100%;
  height: 400px;
  background-image: url("../img/newsletter_background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 140px;
}
#newsLetter button {
  color: white;
  padding: 12px 20px;
  background-color: #7ABC64;
  border-radius: 20px;
  cursor: pointer;
  border: 0px;
  transition: 0.3s;
}
#newsLetter button:hover {
  background-color: #69AA53;
}
#newsLetter h2 {
  font-size: 28px;
}
#newsLetter input {
  width: 45%;
  height: 40px;
  border: 1px solid lightgrey;
  margin-bottom: 40px;
}
#newsLetter button {
  width: 45%;
}
#newsLetter p {
  font-size: 14px;
}

footer {
  color: #A1A7AA;
  width: 100%;
  height: 550px;
}
footer #footer_top {
  padding: 0% 8%;
  height: 70%;
  background-image: url("../img/footer-background-color.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer #footer_top button {
  color: white;
  padding: 12px 20px;
  background-color: #7ABC64;
  border-radius: 20px;
  cursor: pointer;
  border: 0px;
  transition: 0.3s;
}
footer #footer_top button:hover {
  background-color: #69AA53;
}
footer #footer_top .wrapper {
  width: calc(100% / 4 );
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer #footer_top .wrapper h3 {
  color: white;
  font-size: 16px;
  margin-bottom: 15px;
}
footer #footer_top #logo {
  padding-top: 20px;
  align-items: flex-start;
  line-height: 30px;
  font-size: 14px;
}
footer #footer_top #logo img {
  width: 90%;
  margin-bottom: 15px;
}
footer #footer_top #contact {
  padding-left: 30px;
  align-items: flex-start;
}
footer #footer_top #contact li {
  padding-bottom: 15px;
}
footer #footer_top #contact i {
  padding: 10px 10px 0px 10px;
}
footer #footer_top #course {
  align-items: flex-start;
  padding-left: 20px;
  color: #7ABC64;
}
footer #footer_top #course a {
  color: #7ABC64;
  transition: 0.3s;
}
footer #footer_top #course a:hover {
  color: #9EEB85;
}
footer #footer_top #course i {
  padding: 10px 10px 10px 10px;
}
footer #footer_top #prices {
  justify-content: space-between;
  align-items: flex-end;
}
footer #footer_top #prices button {
  margin-right: 40px;
}
footer #footer_bottom {
  padding: 0% 8%;
  height: calc(100% - 70%);
  background-color: #1C1D1E;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer #footer_bottom a {
  color: #7ABC64;
  transition: 0.3s;
}
footer #footer_bottom a:hover {
  color: #9EEB85;
}
footer #footer_bottom li {
  display: inline-block;
  padding-left: 18px;
}
footer #footer_bottom li a {
  color: white;
  transition: 0.3s;
}
footer #footer_bottom li a:hover {
  color: #A1A7AA;
}
