<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <title></title>
  </head>
  <body>
    <div id="wrapper">
      <!-- intestazione pagina -->
      <header>
        <div id="header_info">
          <p>We have a 95% Successful Pass Rate!</p>
          <a href="#"><i class="fas fa-phone"></i>Give us a call to book your tuition! 1-800-555-555</a>
        </div>
        <!-- navbar -->
        <div id="header_nav">
          <img src="img/avada-drivers-logo-1x.png" alt="">
          <ul>
            <li v-for="(item,index) in headerNav">
              <a :href="item.link" v-on:click="SetActive(index)" v-bind:class="(active == index) ? 'active' : ''">{{ item.name }}</a>
            <button id="smaller" v-if="item.new"type="button">NEW</button></li>
            <button type="button" onclick="location.href='https://avada.theme-fusion.com/driving/book-now/';"name="">BOOK NOW
            </button>
          </ul>
        </div>
        <!-- /navbar -->
      </header>
      <!-- /intestazione pagina -->

      <!-- contenuto pagina  -->
      <main>
        <div id="jumbotron">
          <div id="popup">
            <div class="square"><img src="img/popup-icon.png" alt=""> Demos</div>
            <div class="square"><span><small>$</small>39</span>On sale</div>
          </div>
          <h1>Drive with Avada</h1>
          <h4>We offer the finest driving tuition money can buy</h4>
        </div>
        <section id="first_lesson">
          <div id="general_info">
            <h2>Get Behind The Wheel</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultrices auctor sapien id cursus. Aliquam maximus turpis in vehicula semper.</p>
            <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultrices auctor sapien id cursus. Aliquam maximus turpis in vehicula semper. Fusce et ultrices libero, at suscipit lacus. Sed vitae fringilla nibh. Nunc ultrices auctor sapien id cursus. Aliquam maximus turpis in vehicula semper. Fusce et ultrices libero, at suscipit lacus. Sed vitae fringilla nibh.
            </small>
          </div>
          <div id="registration_panel">
            <h3>First Lesson Free!</h3>
            <small>When you make a block booking with us your first lesson is included free.</small>
            <span id="relative">
              <input id="relative"type="text" name="" value=""placeholder="Your name*"><img src="img/image.png" alt="">
            </span>
            <input type="email"placeholder="Email*">
            <input type="text" name="" value=""placeholder="Telephone">
            <input type="text" name="" value=""placeholder="Location">
            <button type="button" name="button">REQUEST A CALLBACK</button>
          </div>
        </section>
        <section id="courses">
          <div id="car_image">
            <div>
              <h2>Start Learning to Drive Today</h2>
              <span>Give us a call to schedule your first driving lesson</span>
            </div>
            <h3><i class="fas fa-phone"></i>1-800-555-555</h3>
          </div>
          <div id="courses_wrapper">
            <div id="courses_info">
              <h2>Courses</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultrices auctor sapien id cursus. Aliquam maximus turpis in vehicula semper.</p>
              <button type="button" name="button">COURSE INFORMATION</button>
              <img src="img/new-corner.jpg" alt="">
            </div>
            <div id="learn_box_container">
              <div class="box">
                <img src="img/courses-passplus-200x200.jpg" alt="">
                <h3> Pass Plus</h3>
                <button type="button" name="button">Learn more</button>
              </div>
              <div class="box">
                <img src="img/course-intensive-200x200.jpg" alt="">
                <h3>Intensive Course</h3>
                <button type="button" name="button">Learn more</button>
              </div>
              <div class="box">
                <img src="img/courses-instructor-200x200.jpg" alt="">
                <h3>Instructors</h3>
                <button type="button" name="button">Learn more</button>
              </div>
            </div>
            <div id="rate_flex_container">
              <div class="item">
                <div class="circle">
                  <span id="layover_notch"class="layover"></span>
                  <span>95%</span>
                </div>
                <h3>PASS RATE</h3>
              </div>
              <div class="item">
                <div class="circle">
                  <span class="layover">
                  <span>100%</span>
                </div>
                <h3>REFERRAL RATE</h3>
              </div>
              <div class="item">
                <div class="circle">
                  <span id="layover_dot"></span>
                  <span>0%</span>
                </div>
                <h3>ACCIDENT RATE</h3>
              </div>
            </div>
          </div>
        </section>
        <section id="instructors">
          <div id="left">
          <h2>Your instructors</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultrices auctor sapien id cursus. Aliquam maximus turpis in vehicula semper.</p>
          </div>
          <button type="button" name="button">MORE ABOUT US</button>
        </section>
        <section id="item_container_wrapper">
          <div id="item_container">
            <div class="item">
              <img src="img/instructor-mikehart-400x254.jpg" alt="">
              <h3>Mike Hart</h3>
              <div>
                <ul>
                  <li v-for="item in social"><a :href="item.link"><i :class="item.icon"></i></a></li>
                </ul>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div id="bigger"class="item">
              <img src="img/instructor-johnsmith-400x254.jpg" alt="">
              <h3>John Smith</h3>
              <div>
                <ul>
                  <li v-for="item in social"><a :href="item.link"><i :class="item.icon"></i></a></li>
                </ul>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="item">
              <img src="img/instructor-angelahart-400x254.jpg" alt="">
              <h3>Angela Hart</h3>
              <div>
                <ul>
                  <li v-for="item in social"><a :href="item.link"><i :class="item.icon"></i></a></li>
                </ul>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </section>
        <section id="testimonial">
          <div id="carousel">
            <h2>Testimonials</h2>
            <h4>Here’s what our happy drivers had to say about our services:</h4>
            <div id="avatar_circle">
              <img v-bind:src="testimonials[avatarIndex].avatar" alt="">
            </div>
            <p>Avada Driving School really helped build my confidence behind the wheel and with driving in general, and they got me a first time pass! Highly recommended.</p>
            <strong v-for="(testimonial,index) in testimonials"v-if="index==avatarIndex">{{ testimonial.name }}</strong>
            <div class="dots">
              <i v-for="(testimonial,index) in testimonials":class="(index==avatarIndex)? 'fas': 'far'"class="fa-circle"  @click="dotActive(index)"></i>
            </div>
          </div>
        </section>
        <section id="latest_news_wrapper">
          <div id="latest_news">
            <h2>Latest news</h2>
            <div id="car_image_wrapper">
              <div class="car_image_box">
                <img src="img/blog-choosecar-700x441.jpg" alt="">
                <h3>What Car to Start With?</h3>
                <small>February 7th, 2019|0 Comments</small>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
              </div>
              <div class="car_image_box">
                <img src="img/blogpost-10and2-700x441.jpg" alt="">
                <h3>Avada Driving School Expanding</h3>
                <small>February 7th, 2019|0 Comments</small>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
              </div>
            </div>
            <button type="button" name="button">MORE FROM THE BLOG</button>
            <img id="bottom"src="img/latestnews-bottom-1200x105.png" alt="">
          </div>
        </section>
        <section id="newsLetter">
          <h2>Sign up to our Newsletter</h2>
          <input type="text" name="" value="">
          <button type="button" name="button">SUBSCRIVE</button>
          <p>(We do not share your data with anybody, and only use it for its intended purpose)</p>
        </section>
      </main>
      <!-- /contenuto pagina  -->

      <!-- conclusione pagina  -->
      <footer>
        <div id="footer_top">
          <div id="logo"class="wrapper">
            <img src="img/avada-drivers-logo-1x.png" alt="">
            <p>Avada Driving School is the right choice for experienced drivers looking for a refresher course, or the brand new driver wanting to pass first time.</p>
          </div>
          <div id="contact"class="wrapper">
            <h3>CONTACT DETAILS</h3>
            <ul>
              <li v-for="item in footerContacts">
              <i v-bind:class="item.icon"></i>
                <small>{{ item.info }}</small></li>
            </ul>
          </div>
          <div id="course"class="wrapper">
            <h3>COURSES</h3>
            <ul>
              <li v-for="item in footerCourses">
                <a :href="item.link">
                <i class="far fa-arrow-alt-circle-right"></i>{{ item.contact }}</a>
              </li>
            </ul>
          </div>
          <div id="prices"class="wrapper">
            <img src="img/footer-ad-grid-200x178.png" alt="">
            <button type="button" onclick="location.href='https://avada.theme-fusion.com/driving/book-now/'"name="">BOOK NOW
            </button>
          </div>
        </div>
        <div id="footer_bottom">
          <small>© Copyright 2012 - 2021 | Avada Theme by <a href="https://theme-fusion.com/">ThemeFusion </a>| All Rights Reserved | Powered by <a href="https://wordpress.org/">WordPress</a></small>
          <ul>
            <li v-for="item in footerBottom">
              <a :href="item.link"><i v-bind:class="item.icon"></i></a>
            </li>
          </ul>
          <div id="toTop_box">
            <a href="#"><span id="arrow">
              <i class="fas fa-chevron-up"></i></span></a>
            </div>
          </div>
        </div>
      </footer>
      <!-- /conclusione pagina  -->
    </div>
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
