footer {
  color: #A1A7AA;
  width: $maxWidth;
  height: 550px;
  #footer_top {
    @include button;
    padding: $wrapperPadding;
    height: 70%;
    background-image: url($footerBackground);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .wrapper {
      width: calc(100% / 4 );
      height: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        color: white;
        font-size: 16px;
        margin-bottom: 15px;
      }
    }
    #logo {
      padding-top: 20px;
      align-items: flex-start;
      line-height: 30px;
      font-size: 14px;
      img {
        width: 90%;
        margin-bottom: 15px;
      }
    }
    #contact {
      padding-left: 30px;
      align-items: flex-start;
      li {
        padding-bottom: 15px;
      }
      i {padding:10px 10px 0px 10px;}
    }
    #course {
      @include link;
      align-items: flex-start;
      padding-left: 20px;
      color: #7ABC64;
      i {
        padding:10px 10px 10px 10px;
      }
    }
    #prices {
      justify-content: space-between;
      align-items: flex-end;
      button {
        margin-right: 40px;
      }
    }
  }
  #footer_bottom {
    @include link;
    position: relative;
    padding: $wrapperPadding;
    height: calc(100% - 70%);
    background-color: #1C1D1E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      display: inline-block;
      padding-left: 18px;
      a {
        color: white;
        transition: 0.3s;
        &:hover {
          color: #A1A7AA;
        }
      }
    }
    #toTop_box {
      position: absolute;
      bottom: 1px;
      right: 100px;
      width: 45px;
      height: 36px;
      #arrow {
        width: 100%;
        height: 100%;
        display: flex;
        background-color: #35393C;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        align-items: center;
        justify-content: center;
        &:hover {
          background-color: #69AA53;
          cursor: pointer;
        }
        i {
          color:white;
          font-size: 14px;
        }
      }
    }
  }
}
