header {
  width: $maxWidth;
  #header_info {
    height: 40px;
    padding: $wrapperPadding;
    background-color: #353a3e;
    color: #A1A7AA;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
      i {
        margin-right: 10px;
      }
  }
  #header_nav {
    @include button;
    width: $maxWidth;
    padding: $wrapperPadding;
    height: 100px;
    position: absolute;
    z-index: 2;
    background-color: rgba(53,54,55,0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      display: inline-block;
      margin-right: 20px;
      color: white;
      .active
      {
        color: #69AA53;
        border-bottom: 3px solid #69AA53;
      }
      a {
        padding-bottom: 10px;
        &:hover {
          color: #69AA53;
          border-bottom: 3px solid #69AA53;
        }
      }
    }
  }
}
