#jumbotron {
  height: 600px;
  background-image: url($jumboImage);
  background-size: cover;
  background-position:center;
  position: relative;
  padding: $wrapperPadding;
  padding-top: 300px;
  color: white;
  font-size: 28px;
  #popup {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 90px;
    left:95%;
    top:135px;
    z-index: 2;
    .square{
      width: 100%;
      height: 45%;
      background: white;
      border-radius: 3px;
      color: #32475B;
      font-size: 0.3em;
      display:flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      transition: all 0.1s;
      &:hover {
        cursor: pointer;
        border: 2px solid #353A3D;
        border-radius: 3px;
      }
       img {
        height: 20px;
      }
      span {
        color: #69AA53;
        font-size: 16px;
        font-weight: bold;
        position: relative;
        padding-left: 4px;
        small {
        position: absolute;
        font-size: 12px;
        right: 85%;

        }
      }
    }
  }
  h1 {
    margin-bottom: 20px;
  }
}

#first_lesson {
  width: $maxWidth;
  height: 600px;
  font-size: 22px;
  padding: $wrapperPadding ;
  position: relative;
  color: #A1A7AA;
  #general_info {
    width: 45%;
    h2 {
      margin-bottom: 40px;
      padding-top: 80px;
      color: black;
    }
    p {
      margin-bottom: 20px;
    }
  }
  #registration_panel {
    @include button;
    width: 40%;
    height: 95%;
    padding: 30px;
    position: absolute;
    background-color: white;
    right: 10%;
    top:-30px;
    box-shadow: 3px 14px 20px 2px rgba(110,100,100,0.26);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    h3 {
      color: #69AA53;
      font-weight: bolder;
    }
    #relative {
      position: relative;
      width: 100%;
      border: 1px solid black;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-right: 5px;
      input {
        border: none;
      }
    }
    img {
      cursor: pointer;
    }
    input {
      width: 100%;
      padding: 12px 8px;
    }
  }
}

#courses {
  width: $maxWidth;
  height: 700px;
  background-image: url($coursesBackground);
  background-position: left;
  background-size: cover;
  border-radius: 90px/30px;
  #car_image {
    height: 240px;
    color: white;
    font-size: 22px;
    padding: $wrapperPadding;
    background-image: url($carImage);
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      margin-bottom: 20px;
    }
    i {
      margin-right: 30px;
    }
  }
  #courses_wrapper{
    @include clearfix;
    width: $maxWidth;
    padding: $wrapperPadding;
    position: relative;
    #courses_info{
      width: 400px;
      height: 400px;
      padding: 20px;
      box-shadow: 3px 14px 20px 2px rgba(110,100,100,0.26);
      border-radius: 8px;
      background-color: white;
      position: absolute;
      top:-30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      line-height: 26px;
      text-align: center;
      @include button;
      h2 {
        font-size: 28px;
      }
      img {
        height: 80px;
        position: absolute;
        top:0;
        left:0;
        border-radius:5px;
      }
    }
    #learn_box_container{
      margin: 70px 0px;
      display: flex;
      justify-content: space-between;
      float: right;
      height: 290px;
      width: 60%;
      .box {
        width: calc(100% / 3);
        color: #7799AD;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        img {
          width: 90%;
          &:hover {
            opacity: 0.9;
            cursor: pointer;
          }
        }
        button {
          background-color: #E7EBEE;
          padding: 10px 18px;
          color: #7799AD;
          border-radius: 20px;
          border: 2px solid #7799AD;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            color:#7ABC64;
            border: 2px solid #7ABC64;
          }
        }
      }
    }
  }
  #rate_flex_container {
    width: $maxWidth;
    height: 450px;
    display: flex;
    justify-content: space-between;
    .item {
      width: calc(100% / 3 - 10px);
      height: 100%;
      color: #929AA3;
      padding-bottom: 30px;
      box-shadow: 3px 14px 20px 2px rgba(110,100,100,0.26);
      background-color: white;
      text-align: center;
      border-radius: 8px;
      border-top: 6px solid #69AA53;
      .circle {
        position: relative;
        width: 200px;
        height: 200px;
        margin: 60px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 10px solid #F6F6F6;
        font-size: 30px;
        #layover_dot {
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          top: -10px;
          background-color: #7ABC64;
        }
        .layover{
          position: absolute;
          width: 200px;
          height:200px;
          border: 10px solid #7ABC64;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        #layover_notch {
          border-left-color: transparent;
          transform: rotate(70deg);
          border-left: none;
        }
      }
    }
  }
}


#instructors {
  @include button;
  padding: $wrapperPadding;
  margin-top: 450px;
  width: $maxWidth;
  height: 280px;
  font-size: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  #left {
    width:65%;
    p {
      margin-top: 40px;
      font-size: 22px;
      line-height: 34px;
    }
  }
  button {
    width: 28%;
    height: 40px;
    margin-top: 60px;
  }
}

#item_container_wrapper {
  position: relative;
  width: $maxWidth;
  height: 440px;
  #item_container {
    position: absolute;
    top:60px;
    padding: $wrapperPadding;
    width: $maxWidth;
    height: 100%;
    display: flex;
    justify-content: space-between;
    .item {
      width: calc(100% / 3 - 10px);
      height: 97%;
      padding: 35px;
      box-shadow: 3px 14px 20px 2px rgba(110,100,100,0.26);
      background-color: white;
      border-radius: 8px;
      border-top: 6px solid #69AA53;
      text-align: center;
      line-height: 30px;
      img {
        width: 90%;
        margin-bottom: 40px;
        transition:0.3s;
        &:hover{
          transform: scale(1.1);
          box-shadow: 3px 14px 20px 2px rgba(110,100,100,0.26);
        }
      }
      h3 {
        color: black;
        font-size: 22px;
      }
      i {
        color:#A1A7AA;
        margin-right: 5px;
        &:hover {
          color: lighten(#A1A7AA, 10%);
        }
      }
    }
    #bigger {
      height: 100%;
      width: 34%;
    }
  }
}

#testimonial {
  width: $maxWidth;
  height: 850px;
  background-image: url($testimonialBackground);
  background-size: cover;
  background-position: center;
  #carousel{
    font-size: 22px;
    padding: 140px 0px 70px 0px;
    text-align: center;
    width: 70%;
    height: 100%;
    margin: auto;
    color:#A1A7AA;
    h2 {
      font-size: 36px;
      color: black;
      margin-bottom: 20px;
    }
    h4 {
      font-weight: normal;
    }
    p {
      font-style: oblique;
      margin-bottom: 28px;
    }
    #avatar_circle {
      margin: 50px auto;
      img {
        width: 170px;
        border-radius: 50%;
      }
    }
    .dots{
      margin-top: 30px;
      cursor: pointer;
      border-radius:20px;
       i {
        font-size: 14px;
        margin-right:8px;
      }
    }
  }
}

#latest_news_wrapper {
  @include button;
  position: relative;
  width: $maxWidth;
  padding: $wrapperPadding;
  height: 860px;
  background-image: url($latestNewsBackground);
  background-size: cover;
  background-position: center;
  #latest_news {
    position: absolute;
    top: -5%;
    border-top: 6px solid #7799AD;
    border-radius: 8px 8px 0px 0px;
    height: 750px;
    width: 84%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    h2 {
      padding-top: 60px;
      font-size: 38px;
    }
    #bottom{
      width: 100%;
      position: absolute;
      top: 100%;
    }
    #car_image_wrapper {
      padding: 0px  60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 500px;
      .car_image_box {
        display: flex;
        flex-direction: column;
        align-items:center;
        color:#A1A7AA;
        img {
        width: 90%;
        transition: 0.6s;
        cursor:pointer;
        &:hover {
          transform: scale(1.1);
          box-shadow: 3px 14px 20px 2px rgba(110,100,100,0.26);
          border-radius: 5px;
          opacity:0.9;
          }
        }
        h3 {
          color: #7ABC64;
          padding: 20px 0px 10px 0px;
        }
        p {
          margin-top: 25px;
        }
      }
    }
  }
}

#newsLetter{
  @include button;
  width: $maxWidth;
  height: 400px;
  background-image: url($newsLetterBackground);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 140px;
  h2 {
    font-size: 28px;
  }
  input {
    width: 45%;
    height: 40px;
    border: 1px solid lightgrey;
    margin-bottom: 40px;
  }
  button {
    width: 45%;
  }
  p {
    font-size: 14px;
  }
}
