#jumbotron {
  height: 600px;
  background-image: url($mainImage);
  background-size: cover;
  background-position:center;
  position: relative;
  padding: $wrapperPadding;
  padding-top: 300px;
  color: white;
  font-size: 28px;
  h1 {
    margin-bottom: 20px;
  }
}
