$maxWidth:100%;
$wrapperPadding: 0% 8%;
$jumboImage:"../img/homepage-hero-background.jpg";
$carImage:"../img/horizontal-cta-background.jpg";
$coursesBackground:"../img/promise-background.jpg";
$testimonialBackground:"../img/testimonial-background.jpg";
$latestNewsBackground:"../img/latestnews-background.jpg";
$newsLetterBackground:"../img/newsletter_background.jpg";
$footerBackground:"../img/footer-background-color.jpg";
